{% extends "popup-base.html" %}
{% import "macros.html" as macros %}

{% block title %}Change Password{% endblock %}

{% block popup_content %}
<h2>Change Password</h2>
<div class="form">
  {{ macros.form_errors(form, errors) }}
  <form method="POST" action="{{ request.path_qs }}">
    {{ csrf_token("form") }}
    {{ macros.field(form.current_password) }}
    {{ macros.field(form.password) }}
    {{ macros.field(form.confirm) }}
    <input type="submit" value="Change Password">
  </form>
</div>
{% endblock %}
